Problem Statement 1:
Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained. The data that resulted from the survey is summarized in the following table:

chool Bachelors Masters Ph.d. Total
Female 60 54 46 41 201
Male 40 44 53 57 194
Total 100 98 99 98 395
Question: Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the gender
of an individual and the level of education that they have obtained?

In [4]:
#This test is performed by using a Chi-square test of independence.
#The hypothesis statements are as follow :
   #1. Null Hypothesis
       #The two categorical variables are independent
   #2. Alternative Hypothesis
       #The two categorical variables are dependent

# The formula is given by : x^2=sum(O-E)^2/E where O represents the observed frequency and
# E is the expected frequency under the null hypothesis and computed by: E=row total * column total/sample size

# Here's the table of expected counts (E)

#Female - High School :
fe_hi=201*100/395
#Female - Bachelors :
fe_ba=201*98/395
#Female - Masters :
fe_ma=201*99/395
#Female - Phd :
fe_ph=201*98/395

#Male - High School :
ma_hi=194*100/395
#Male - Bachelors :
ma_ba=194*98/395
#Male - Masters :
ma_ma=194*99/395
#Female - Phd :
ma_ph=194*98/395

In [11]:
#Our Chi-Square Test :
from math import pow
chi_square= pow(60-fe_hi,2)/fe_hi + pow(54-fe_ba,2)/fe_ba + pow(46-fe_ma,2)/fe_ma + pow(41-fe_ph,2)/fe_ph
chi_square=chi_square + pow(40-ma_hi,2)/ma_hi + pow(44-ma_ba,2)/ma_ba + pow(53-ma_ma,2)/ma_ma + pow(57-ma_ph,2)/ma_ph

In [12]:
chi_square

8.006066246262538

In [ ]:
#The critical value of chi_square with 3 degree of freedom is 7.815. 
#Since 8.006 > 7.815, therefore we reject the null hypothesis and conclude that 
#the education level depends on gender at a 5% level of significance.

Problem Statement 2:
Using the following data, perform a oneway analysis of variance using α=.05. Write up
the results in APA format.
[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]

In [56]:
#Sample means for each groups
import numpy as np
from statistics import stdev, variance
grp_1=[51, 45, 33, 45, 67]
grp_2=[23, 43, 23, 43, 45]
grp_3=[56, 76, 74, 87, 56]
np.mean(arr, axis=1)

array([48.2, 35.4, 69.8])

In [60]:
#steps in calculating the group variances:
var_1=variance(grp_1)
var_2=variance(grp_2)
var_3=variance(grp_3)

In [67]:
print('Variance 1 ={}, Variance 2 ={}, Variance 3 ={}'.format(var_1,var_2,var_3))

Variance 1 =153.2, Variance 2 =128.79999999999998, Variance 3 =183.2

In [68]:
MS_error=(153.2+128.8+183.2)/3

In [69]:
MS_error

155.06666666666666

In [73]:
#Calculating the remaining error (or within) terms for the ANOVA table
df_error=15-3
SS_error=155.07*(15-3)

In [74]:
df_error

12

In [75]:
SS_error

1860.84

In [76]:
#steps in calculating the variance of the sample mean
#Sum of squares :
SS_means=604.58
Var_means=604.58/(3-1)
MS_between=Var_means*5

In [77]:
#Calculating the remaining between (or group) terms of the ANOVA table
df_group=3-1
SS_group=MS_between*df_group
#Test statistic and critical value
F=MS_between/MS_error

In [78]:
F

9.747098022355976

In [79]:
#Effect size
n=SS_group/4883.7

In [80]:
n

0.6189774146651105

In [ ]:
#APA format :
 #F(2, 12)=9.75, p <0.05, η2=0.62

Problem Statement 3:
Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:

In [87]:
#Variance 1
test_1=[10, 20, 30, 40, 50]
var1=variance(test_1)
#Variance 2
test_2=[5,10,15, 20, 25]
var2=variance(test_2)

In [89]:
var1

250

In [88]:
var2

62.5

In [90]:
# Our F Test 
f_test=var1/var2

In [91]:
f_test

4.0